{% extends "base.html.twig" %}

{% block mainContent %}
    <div class="row row-cols-4 g-3">
        {% include 'front/products/_list.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('products') }}
{% endblock %}

