{% extends "base.html.twig" %}

{% block mainContent %}
    <div class="banner bg-dark-blue py-5">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col">
                    <h1>Notre équipe a sélectionné
                        <br><span class="text-white">les meilleurs instruments rotatifs</span>
                        <br>du marché.</h1>
                </div>
                <div class="col">
                    <img src="{{ asset('build/static/images/visuel_concept.png') }}" alt="Le concept RotativBox">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
