{% extends 'base.html.twig' %}

{% block mainContent %}
    <div class="banner bg-dark-blue py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="text-white">Politique de protection des données</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <h4>Objet</h4>
                <br/>
                La présente Politique de protection des données régissent est établie par la société Cime dentaire,
                société
                par actions simplifiée au capital de 225 000 euros, immatriculée au RCS de Clermont-Ferrand sous le
                numéro
                449 174 994, dont le siège social est situé au 10 rue André Citroën – 63430 Pont du Château, en sa
                qualité
                d’éditrice du site Internet <a href="https://www.cimedentaire.com" target="_blank">www.cimedentaire.com</a>.
                <br/>
                <br/>
                Elle s’adresse aux visiteurs du site <a href="https://www.cimedentaire.com" target="_blank">www.cimedentaire.com</a> et à ses clients de matériel, équipement et
                services dentaire et informatique, et fait partie intégrante des Conditions Générales de Vente de Cime
                dentaire. La présente Politique de Gestion des Données à caractère Personnel détermine les conditions
                dans
                lesquelles cime dentaire collecte et traite les données à caractère personnel, dans le strict respect de
                vos
                droits.
                <br/>
                <br/>
                Toute utilisation du site, ainsi que tout achat de produits auprès de Cime dentaire, implique
                l’acceptation
                pleine et entière par client de la présente politique. Cime dentaire se réserve le droit de modifier à
                tout
                moment le présent document, sous réserve d’en informer client, par email, l’invitant à valider les mises
                à
                jour effectuées.
                <br/>
                <br/>
                <h4>Bases légales des traitements de données à caractère personnel</h4>
                <br/>
                Cime dentaire collecte les données des clients sur la base :
                <br/>
                <br/>
                <ul>
                    <li>De leur consentement, pour toute utilisation du Site à titre gratuit ; ce consentement se
                        manifestant
                        par
                        l’acceptation de la présente Politique,
                    </li>
                    <li>De leur contrat conclu avec eux, à savoir les CGV acceptées, pour toute commande, et dans la
                        mesure où
                        les
                        données collectées sont nécessaires au traitement de la commande,
                    </li>
                    <li>D’une obligation légale, notamment pour la conservation et l’archivage des données.</li>
                </ul>
                <br/>
                Les données à caractère personnel sont collectées :
                <br/>
                <br/>
                <ul>
                    <li>Lors de l’inscription du client ;</li>
                    <li>
                        Lors de la réalisation d’une commande, et notamment le renseignement de données dans les
                        différents
                        formulaires du site ;
                    </li>
                    <li>Lors de sa navigation sur le site (pour les cookies) ;</li>
                    <li>Lors de son utilisation du formulaire de contact sur le Site.</li>
                </ul>
                <br/>
                <h4>Finalité du traitement des données à caractère personnel</h4>
                <br/>
                Cime dentaire utilise les données de ses clients pour les finalités suivantes :
                <br/>
                <br/>
                <ul>
                    <li>Gérer vos accès au Site et à l’utilisation des produits proposés par le Site, notamment le
                        traitement de vos commandes
                    </li>
                    <li>Pouvoir répondre à toute demande concernant l’utilisation des produits du Site</li>
                    <li>Effectuer les opérations relatives à la gestion et au suivi des produits proposés par le Site
                    </li>
                    <li>
                        Constituer un fichier clients dans le but de :
                        <ul>
                            <li>Adresser des newsletters ou tous messages informatifs relatifs à notre actualité
                                et/ou
                                toute
                                évolution
                                de
                                nos produits et produits. Dans le cas où vous ne souhaiteriez pas, nous vous donnons la
                                possibilité
                                d’exprimer votre refus à ce sujet lors de la collecte de vos données ;
                            </li>
                            <li>Adresser des publicités, et notamment des publicités ciblées. Dans le cas où vous ne
                                souhaiteriez
                                pas,
                                nous vous donnons la possibilité d’exprimer votre refus à ce sujet lors de la collecte
                                de
                                vos
                                données ;
                            </li>
                            <li>Élaborer des statistiques d’utilisation et de fréquentation de nos produits et produits
                                ;
                            </li>
                            <li>Élaborer des statistiques anonymisées commerciales ;</li>
                            <li>Optimiser le fonctionnement et l’efficacité des produits proposés ;</li>
                            <li>Gérer la gestion des avis des personnes sur ces produits ou contenus ;</li>
                            <li>Respecter nos obligations légales et réglementaires.</li>
                        </ul>
                    </li>
                </ul>
                <br/>
                <h4>Destinataires</h4>
                <br/>
                Cime dentaire ne procède à aucune cession, gratuite ou onéreuse, des données à caractère personnel des
                clients à des tiers, notamment à des fins commerciales.
                <br/>
                <br/>
                Il est possible que certains organismes publics, auxiliaires de justice, offices ministériels et
                organismes
                chargés d’effectuer le recouvrement de créances soient amenés à être destinataires de vos données à
                caractère personnel.
                <br/>
                <br/>
                Nous nous réservons également la possibilité de communiquer à des tiers vos données entièrement
                anonymisées
                et sous forme agrégée, c’est-à-dire dans une forme ne permettant pas de vous identifier, de quelque
                manière
                que ce soit.
                <br/>
                <br/>
                <h4>Durées de conservation :</h4>
                <br/>
                Vos données à caractère personnel ne seront pas conservées au-delà de la durée strictement nécessaire à
                la
                gestion de notre relation avec vous. Toutefois, les données permettant d’établir la preuve d’un droit ou
                d’un contrat, devant être conservées au titre du respect d’une obligation légale, le seront pendant la
                durée
                prévue par la loi en vigueur.
                <br/>
                <br/>
                Nous conservons vos données pendant un délai maximum de trois (3) ans à compter de la collecte de vos
                données ou du dernier contact émanant du client ou de la fermeture de votre compte sur le Site.
                <br/>
                <br/>
                Dans les 3 mois précédant l'échéance de la durée de conservation des données à caractère personnel fixée
                à 3
                ans, nous pourrons reprendre contact avec vous afin que vous nous fassiez part de votre consentement ou
                non
                sur le fait de continuer à recevoir des informations sur nos produits.
                <br/>
                <br/>
                Concernant la gestion des listes d’opposition :
                <br/>
                Les informations permettant de prendre en compte votre droit d’opposition sont conservées au minimum
                trois
                (3) ans à compter de l’exercice du droit d’opposition.
                <br/>
                <br/>
                Concernant les statistiques de mesure d’audience :
                <br/>
                Les informations stockées dans le terminal ou tout autre élément utilisé pour identifier les clients et
                permettant leur traçabilité ou fréquentation ne seront pas conservées au-delà de treize (13) mois.
                <br/>
                <br/>
                Concernant l’archivage des données relatives aux opérations bancaires :
                <br/>
                A l’issue de la durée de conservation de vos données bancaires, nous vous informons que nous archivons
                vos
                données pendant un délai de deux (2) ans pour répondre à nos obligations légales, notamment en termes de
                lutte contre la fraude bancaire et le blanchiment d’argent.
                <br/>
                <br/>
                <h4>Droit d’accès, de rectification, de suppression et de portabilité des données</h4>
                <br/>
                Chaque Utilisateur bénéficie d’un droit d’accès, d’opposition, de rectification, de suppression et de
                portabilité de ses données personnelles, conformément à la loi n°78-17 du 6 janvier 1978 relative à
                l’informatique, aux fichiers et aux libertés.
                <br/>
                <br/>
                Il a le droit de retirer son consentement à tout moment si le consentement constitue la base légale du
                traitement.
                <br/>
                <br/>
                Il peut en particulier à tout moment se désinscrire de la mailing list du Site, ainsi de toute
                communication
                non nécessaire à la réalisation d’une Prestation, en cliquant sur le lien de désinscription prévu à cet
                effet.
                <br/>
                <br/>
                Il peut exercer ces droits en s’adressant à la Société à l’adresse suivante :
                <br/>
                <br/>
                Email : <a href="mailto:contact@cimedentaire.fr">contact@cimedentaire.fr</a>
                <br/>
                Postale : Cime dentaire, 10 rue André Citroën 63430 Pont du Château
                <br/>
                <br/>
                La demande devra indiquer les nom et prénom, adresse e-mail ou postale, de la personne concernée. La
                Société
                y répondra dans un délai d’un mois, sauf difficultés particulières, dont elle informera la personne
                concernée.
                <br/>
                <br/>
                <h4>Gestion des cookies</h4>
                <br/>
                Le site internet de Cime dentaire utilise des cookies afin d’optimiser son utilisation. Les cookies sont
                des
                fichiers de petite taille, qui enregistrent des informations relatives à votre navigation sur le site.
                Cela
                permet notamment de
                <br/>
                <ul>
                    <li>Faciliter la prochaine visite du client sur le site en enregistrant ses paramètres et
                        préférences, et en personnalisant le contenu,
                    </li>
                    <li>D’empêcher les intrusions de tiers ou de robots sur le site</li>
                    <li>De mesurer l’audience de visite du site</li>
                    <li>Ainsi que d’assurer un meilleur fonctionnement des différentes interfaces et applications.</li>
                </ul>
                <br/>
                <br/>
                Ce fichier texte comprend le nom du serveur ayant déposé le cookie, un identifiant et les paramètres
                utilisateurs.
                <br/>

                <br/>
                Le consentement du client devra être recueilli pour tous les cookies. Selon l’article 4 du règlement
                général
                sur la protection des données (RGPD), ce consentement devra être libre, spécifique, éclairé et univoque.
                <br/>

                <br/>
                Le client pourra donc refuser l’installation des cookies, ce qui pourra engendrer un dysfonctionnement
                de
                certains éléments du site. Il pourra aussi bloquer, modifier la durée de conservation ou supprimer le
                cookie
                via l’interface de son navigateur.
            </div>
        </div>
    </div>
{% endblock %}

