{% extends 'base.html.twig' %}

{% block mainContent %}
    <div class="banner bg-dark-blue py-5">
        <div class="container">
            <div class="col">
                <h1 class="text-white">Mentions légales</h1>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <h4>Objet</h4>
                <br>
                Les présentes Conditions Générales régissent la vente par Cime dentaire à ses clients de matériel,
                équipement et services dentaire et informatique.<br/>
                Le client s’engage à lire attentivement les présentes Conditions Générales et les accepter, avant de
                répondre au devis proposé et de passer commande.<br/>
                Toute commande passée à Cime dentaire implique ainsi l’acceptation sans réserve par le client des
                présentes conditions générales.<br/>
                Les Conditions Générales applicables sont celles en vigueur au moment de la remise du devis et pourront
                être modifiées et mises à jour par Cime dentaire à tout moment.<br/>
                <br/>
                <h4>Devis et commandes</h4>
                <br/>
                <h6>Caractéristique des produits:</h6>
                Cime dentaire présentera les caractéristiques essentielles des produits (sur les devis et fiches
                d’information disponibles sur demande): le client s’engage à lire attentivement ces informations avant
                de passer commande.<br/>
                Les produits vendus par Cime dentaire sont neufs et conformes à la législation européenne en vigueur et
                aux normes applicables en France.<br/>
                <br/>
                <h6>Procédure de commande</h6>
                Les commandes de produits sont passées sur la base du devis remis au client suite à sa sollicitation. La
                date de la commande est la date à laquelle Cime dentaire accuse réception de la commande.<br/>
                Les délais éventuellement indiqués ne commencent à courir qu’à partir de cette date.<br/>
                <br/>
                <h6>Prix</h6>
                Le prix applicable est celui indiqué sur le devis sur la base duquel la commande est passée par le
                client.<br/>
                Les prix incluent en particulier la taxe sur la valeur ajoutée (TVA) au taux en vigueur.<br/>
                <br/>
                <h4>Paiement</h4>
                <br/>
                <h6>Moyens de paiement</h6>
                Le client consent à payer ses produits suivant les modalités indiquées par Cime dentaire dans le
                devis.<br/>
                <br/>
                <h6>Retard ou refus de paiement</h6>
                Dans l’hypothèse où, pour quelle que raison que ce soit, la transmission du paiement dû par le client
                s’avèrerait impossible, la commande serait annulée et la vente automatiquement résiliée.<br/>
                <br/>
                Lorsque des accords commerciaux particuliers sont conclus avec des professionnels incluant des délais
                conformes aux règles en vigueur, et sauf accord préalable et exprès de Cime dentaire pour une
                prorogation de l’échéance figurant sur la facture, tout retard de paiement imputable au client
                entraînera :<br/>
                <ul>
                    <li>L’exigibilité immédiate et automatique de toutes les sommes dues par le client, quel que soit le
                        mode de règlement prévu ;
                    </li>
                    <li>L’application de pénalités de retard calculées sur la base de 10% du montant de la facture selon
                        l’article L441-10 du Code de Commerce et d’une indemnité forfaitaire de 100€ pour frais de
                        recouvrement et, ce, sans préjudice de toutes indemnités que Cime dentaire pourrait réclamer.
                    </li>
                </ul>
                <br/>
                <h4>Transfert de propriété</h4>
                <br/>
                Cime dentaire reste le propriétaire des produits livrés jusqu’à leur complet paiement par le
                client.<br/>
                <br/>
                Les dispositions ci-dessus ne font pas obstacle au transfert au client, au moment de la réception par
                lui, ou par un tiers désigné par lui autre que le transporteur, des risques de perte ou de dommage des
                produits faisant l’objet de la réserve de propriété, ainsi que des risques de dommage qu’ils pourront
                entraîner.<br/>
                <br/>
                <h4>Garanties</h4>
                <br/>
                Les conditions de garantie sont précisées sur le devis. Elles incluent une garnatie du fabricant, et une
                période pendant laquelle Cime dentaire consent à intervenir sans frais de main d’œuvre supplémentaire.
                Au-delà de ces périodes de garantie : les pièces et la main d’œuvres fournis par Cime dentaire sont dus
                au tarif habituel.<br/>
                <br/>
                Cime dentaire est susceptible de répondre des défauts de conformité existants lors de la délivrance et
                des défauts de conformité résultant de l’emballage, des instructions de montage ou de l’installation
                lorsque celle-ci a été mise à sa charge ou a été réalisée sous sa responsabilité.<br/>
                <br/>
                <h6>Garantie des vices cachés</h6>
                Cime dentaire est tenu de la garantie à raison des vices cachés du produit vendu qui le rendent impropre
                à l’usage auquel on le destine, ou qui diminuent tellement cet usage que le client ne l’aurait pas
                acquis, ou n’en aurait donné qu’un moindre prix, s'il les avait connus. (Article 1641 du Code
                Civil).<br/>
                <br/>
                Cette garantie permet au client qui peut prouver l’existence d’un vice caché de choisir entre le
                remboursement du prix du produit s’il est retourné et le remboursement d’une partie de son prix, si le
                produit n’est pas retourné.<br/>
                <br/>
                L’action résultant des vices cachés doit être intentée par le client dans un délai de deux (2) ans à
                compter de la découverte du vice.<br/>
                <br/>
                <h4>Responsabilité</h4>
                <br/>
                La responsabilité de Cime dentaire ne pourra en aucun cas être engagée en cas d’inexécution ou de
                mauvaise exécution des obligations contractuelles imputable au client, notamment lors de la saisie de sa
                commande ou lors de la manipulation des produits (choc ou autre).<br/>
                <br/>
                Cime dentaire ne pourra être tenu pour responsable, pour tout retard ou inexécution, lorsque la cause du
                retard ou de l’inexécution est liée à un cas de force majeure telle qu’elle est définie en droit
                français en ce compris en cas de pandémie.<br/>
                <br/>
                La responsabilité de Cime dentaire ne pourra pas être engagée notamment en cas d’attaque informatique,
                d’indisponibilité de matériels, fournitures, pièces-détachées, équipements personnels ou autres,
                d’interruption de réseaux de communications électroniques, ainsi qu’en cas de survenance de toute
                circonstance ou évènement extérieur à la volonté de Cime dentaire intervenant postérieurement à la
                conclusion des CGV et en empêchant l’exécution dans des conditions normales.<br/>
                <br/>
                Il est précisé que, dans une telle situation, le client ne peut réclamer le versement d’aucune indemnité
                et ne peut intenter aucun recours à l’encontre de Cime dentaire. Cime dentaire s’efforcera d’informer le
                client dès que possible de la survenance de ces événements.<br/>
                <br/>
                <h4>Données personnelles</h4>
                <br/>
                Cime dentaire est amené à collecter des données personnelles concernant ses clients mais selon le strict
                nécessaire à la fourniture des produits et services.<br/>
                <br/>
                Les données collectées par Cime dentaire sont utilisées afin de traiter les commandes passées, gérer le
                compte du client, analyser les commandes et, si le client a expressément choisi cette option, lui
                envoyer des courriers de prospection commerciale, des newsletters, des offres promotionnelles et/ou des
                informations sur des ventes spéciales, sauf si le client ne souhaite plus recevoir de telles
                communications de la part de Cime dentaire.<br/>
                <br/>
                Les données du client sont conservées confidentiellement par Cime dentaire pour les besoins du contrat,
                de son exécution et dans le respect de la loi.<br/>
                <br/>
                Les clients peuvent à tout moment se désinscrire en accédant à leur compte ou en cliquant sur le lien
                hypertexte prévu à cet effet en bas de chaque offre reçue par courrier électronique.<br/>
                Les données peuvent être communiquées, en tout ou partie, aux prestataires de services de Cime dentaire
                intervenant dans le processus de commande.<br/>
                <br/>
                Conformément à la loi n°78-17 du 6 janvier 1978 relative à l’informatique aux fichiers et aux libertés
                et au Règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 relatif à la
                protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la
                libre circulation de ces données, et abrogeant la directive 95/46/CE (Règlement général sur la
                protection des données dit RGPD), Cime dentaire assure la mise en œuvre des droits des personnes
                concernées.<br/>
                <br/>
                Il est rappelé que le client dont les données à caractère personnel sont traitées bénéficie des droits
                d’accès, de rectification, de mise à jour, de portabilité et d’effacement des informations qui le
                concernent, conformément aux dispositions des articles 39 et 40 de la loi Informatique et Libertés
                modifiée, et aux dispositions des articles 15, 16 et 17 du Règlement Général européen sur la Protection
                des Personnes (RGPD).<br/>
                <br/>
                Conformément aux dispositions de l’article 38 de la loi Informatique & Libertés modifiée et aux
                dispositions de l’article 21 du RGPD, le client peut également, pour des motifs légitimes, s’opposer au
                traitement des données le concernant, sans motif et sans frais.<br/>
                <br/>
                Le client peut exercer ces droits en adressant un courrier électronique à l’adresse :
                <a href="mailto:contact@cimedentaire.fr">contact@cimedentaire.fr</a> ou en envoyant un courrier à cime dentaire 10, rue André Citroën 63430 Pont du
                Château.<br/>
                <br/>
                Il est précisé que le client doit pouvoir justifier de son identité, soit en scannant une pièce
                d'identité, soit en adressant à Cime dentaire une photocopie de sa pièce d'identité.<br/>
                <br/>
                <h4>Cookies</h4>
                <br/>
                Le site internet de Cime dentaire utilise des cookies afin d’optimiser son utilisation. Les cookies sont
                des fichiers de petite taille, qui enregistrent des informations relatives à votre navigation sur le
                site. Cela permet notamment de faciliter la prochaine visite du client sur le site en enregistrant ses
                paramètres et préférences, et en personnalisant le contenu, ainsi que d’assurer un meilleur
                fonctionnement des différentes interfaces et applications. Ce fichier texte comprend le nom du serveur
                ayant déposé le cookie, un identifiant et les paramètres utilisateurs.<br/>
                <br/>
                Le consentement du client devra être recueilli pour tous les cookies. Selon l’article 4 du règlement
                général sur la protection des données (RGPD), ce consentement devra être libre, spécifique, éclairé et
                univoque.<br/>
                <br/>
                Le client pourra donc refuser l’installation des cookies, ce qui pourra engendrer un dysfonctionnement
                de certains éléments du site. Il pourra aussi bloquer, modifier la durée de conservation ou supprimer le
                cookie via l’interface de son navigateur.<br/>
                <br/>
                <h4>Propriété intellectuelle</h4>
                <br/>
                <h6>Documents</h6>
                Les devis, propositions, études, plans, dessins, schémas, catalogue et d’une façon générale tous les
                documents remis ou envoyés par Cime dentaire restent toujours son entière propriété.<br/>
                <br/>
                Ces documents ne devront en aucun cas être communiqués à des tiers ou reproduits ni servir directement
                ou indirectement à d’autres réalisations sans l’autorisation écrite préalable de Cime dentaire,
                l’acceptation de la commande ne conférant au client qu’un droit d’utilisation pour l’utilisation des
                produits.<br/>
                <br/>
                Aucune disposition du contrat de vente ne saurait être interprétée comme transférant au client des
                droits quelconques en matière de propriété industrielle et intellectuelle (marque, brevet, savoir-faire,
                propriété littéraire, artistique, etc.).<br/>
                <br/>
                <h4>Site internet de Cime dentaire</h4>
                <br/>
                Tous les éléments visuels et sonores du site, y compris la technologie sous-jacente utilisée, sont
                protégés par le droit d’auteur, le droit des marques et/ou des brevets.<br/>
                <br/>
                Ces éléments sont la propriété exclusive de Cime dentaire. Toute personne qui édite un site web et
                souhaite créer un lien hypertexte direct vers le site doit demander l’autorisation de Cime dentaire par
                écrit.<br/>
                <br/>
                Toute représentation ou reproduction, totale ou partielle, du site et de son contenu, par quel que
                procédé que ce soit, sans l’autorisation préalable expresse de Cime dentaire, est interdite et
                constituera une contrefaçon sanctionnée par les articles L.335-2 et suivants et les articles L.713-1 et
                suivants du Code de la Propriété Intellectuelle.<br/>
                <br/>
                L’acceptation des présentes CGV vaut reconnaissance par le client des droits de propriété intellectuelle
                de Cime dentaire et engagement à les respecter.<br/>
                <br/>
                <h4>Litiges</h4>
                <br/>
                Les ventes de produits faisant l’objet des présentes Conditions Générales de Vente le sont régies par le
                droit français.<br/>
                <br/>
                Sous réserve des dispositions du 17.3 ci-après, il est de convention expresse que tout litige relatif à
                l'interprétation et à l'exécution des présentes Conditions Générales de Vente sera de la compétence
                exclusive du tribunal sous le ressort duquel est situé le siège social de Cime dentaire.<br/>
                <br/>
                Toutefois, préalablement à tout recours, le client est invité à contacter le service réclamation de Cime
                dentaire pour une résolution à l’amiable.<br/>
                <br/>
                Si aucun accord n’est trouvé, il sera alors proposé une procédure de médiation, en vue de parvenir à un
                accord amiable lors de la survenance de tout conflit relatif au présent contrat.<br/>
                <br/>
                La partie souhaitant mettre en œuvre le processus de médiation devra préalablement en informer l’autre
                partie par lettre recommandée avec accusé de réception en indiquant les éléments du conflit dans
                l’hypothèse ou la médiation échouerait, le litige ayant pu donner lieu une médiation sera confiée à la
                juridiction compétente désignée ci-dessus.<br/>
                <br/>
                <h4>Données à caractère personnel</h4>
                <br/>
                Dans le cadre de l’exécution des prestations de maintenance, les parties sont amenées à avoir accès à
                et/ou traiter un ensemble de données à caractère personnel, dont la définition correspond à celle du
                règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016, ci-après, le « RGPD
                ».<br/>
                <br/>
                Les parties s’engagent à respecter toutes les règles en matière de protection des données personnelles
                du RGDP et de la législation française applicable conformément à la politique de gestion des données
                personnelles de l’entreprise cime dentaire.
            </div>
        </div>
    </div>

{% endblock %}

