{% extends "base.html.twig" %}

{% block mainContent %}
    <div class="container">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>
                        Produit
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for product in box.items %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>
                            <a href="{{ path('app_cart_remove', {'id': product.id}) }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
