$darkBlue: #0e1e35;
$lighterBlue: #374F95;
$primary: $darkBlue;
$info: #2EA7C0FF;
$lightGray: #898F9B;
$salmon: #E48E89;
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$customColors: (
        'dark-blue' : $darkBlue,
        'light-gray': $lightGray,
);

$theme-colors: map-merge($theme-colors, $customColors);

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.scss';
@import "./loader";
@import "./range_slider";

body {
  color: $primary;
  min-height: 100dvh;
}

.flashes {
  position: fixed;
  top: 0;
  width: 100%;
}

.bg-dark-blue, .bg-dark-blue:hover {
  background-color: $darkBlue;
  color: $lightGray;
}

.text-light-blue {
  color: $lighterBlue !important;
}

.text-dark-blue {
  color: $darkBlue !important;
}

.btn.bg-dark-blue.disabled {
  background-color: $darkBlue;
  opacity: 0.3;
}

.bg-light-blue, .bg-light-blue:hover {
  background-color: $lighterBlue;
}

header {
  .navbar-brand {
    margin-left: 100px;

    img {
      max-height: 65px;
    }
  }

  nav {
    a {
      margin-right: 100px;

      &.active {
        color: $lighterBlue !important;
        padding-bottom: 20px;
        border-bottom: solid 1px $lighterBlue;
      }
    }
  }
}

main {
  min-height: 75vh;
}

.hero-banner {
  height: 500px;
}

.banner {
  margin-left: -#{$container-padding-x};
  margin-right: -#{$container-padding-x};
}

.product-list {
  margin-top: 50px;
  padding-bottom: 100px;

  .product-card {

    .card-title {
      color: $lighterBlue;
    }

    .card-img-top{
      width: 100%;
      aspect-ratio: 278/185;
    }

    .card-text{
      min-height: 200px;
    }

    color: $lightGray;
  }
}

$offersColor: (
        first: #F0C1A3,
        expert: #E38E8B,
        master: #D12B60,
);

@mixin offerCard($type) {
  .card-header {
    background-color: map-get($offersColor, $type);
    border-color: map-get($offersColor, $type);
    padding: 50px 5px;
    color: $white;
  }

  i.check {
    background-color: map-get($offersColor, $type);
    color: #FFF;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    margin-right: 4px;
  }
}

.offers {
  margin-top: -200px;

  .card {
    background-color: #F3F4F6;
    /*height: 800px;*/

    .card-title {
      font-size: 1.4rem;
      font-weight: 500;
      margin-bottom: 20px;
    }

    .card-body {
      display: grid;

      .toggle-detail {
        margin-bottom: 2rem;
      }

      .detail-list {
        margin-bottom: 20px;

        .list-group-item {
          background: none;
          border: none;
          width: 100%;
          text-align: left;
        }
      }

      .row.bottom {
        align-self: end;
      }

      .bullet-small{
        font-size: 0.85rem;
        margin-top: -5px;
        padding: 0;
        margin-bottom: 0;
        margin-left: 53px;
        font-style: italic;
      }

      #bullets-first{
        #padder {
          height: calc(398px - 295px);
        }
      }
    }

  }

  .offer-first {
    @include offerCard('first');
  }

  .offer-expert {
    @include offerCard('expert');
  }

  .offer-master {
    @include offerCard('master');
  }
}

.text-salmon {
  color: $salmon;
}

.product-thumb {
  max-width: 150px;
}

.brand-filters{
  .brand{
    text-decoration: none;
    margin-right: 20px;

    &.active{
      .brand-name, img{
        background-color: $lightGray;
      }
      .brand-name{
        color: $white;
      }
    }


    .brand-name{
      padding: 15px;
      border-radius: 10px;
      border: solid 1px var(--bs-border-color);
      color: $lighterBlue;
      font-weight: bold;
      text-transform: uppercase;
    }

    img{
      max-width: 100px;
      padding: 10px;
      border-radius: 10px;
    }
  }
}

.apport {
  .btn-check:checked + label {
    background: $darkBlue;
    color: $white;
  }
}

.mensualite{
  font-size: 1.1rem;
  font-weight: 600;
}

form[name='devis'] {
  label {
    font-weight: bold;
  }

  input[type='text'],input[type='email'] {
    height: 50px;
  }
}

footer {
  background: $darkBlue;
  padding: 20px 50px;

  .logo {
    display: inline-block;
    aspect-ratio: 1;
    width: 100px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    &#logoRotativ {
      background-image: url('../static/images/logo-rotativ-box-blanc.png');
    }

    &#logoCime {
      aspect-ratio: 16/10;
      background-image: url('../static/images/logo-cimedentaire.svg');
      width: 150px;
    }
  }

  .logos {
    flex-grow: 3;
  }

  ul {
    border-left: solid 2px $lightGray;
    padding-left: 20px !important;

    li {
      margin-bottom: 15px;

      a {
        color: $lightGray;
        text-decoration: none;

        &:hover {
          color: $white;
        }
      }
    }
  }
}
